In [ ]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install missingno
!pip install scikit-learn

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import missingno as msno
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [ ]:
df = pd.read_csv("The Heart Failure Prediction Dataset.csv")

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
# display the number of variables & number of obs
print(df.shape)

In [ ]:
#count the missing value
print(df.isna().sum())
msno.matrix(df)

In [ ]:
print(df.nunique())

In [ ]:
df['Mortality'].hist(bins=100, figsize=(10,6))
plt.title('Histogram of mortality', size=15)
plt.xlabel('Mortality', size=15)
plt.ylabel('frequency', size=15)

### this is the inbalanced dataset

In [ ]:
df['Mortality'].value_counts(dropna=False)

In [ ]:
df.duplicated().any()

In [ ]:
df.duplicated().any()

In [ ]:
df.duplicated().sum()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.duplicated().sum()

In [ ]:
# HW
# 1.check duplicated columns 
# 2.create histogram for other columns (pick random columns)
# 3.read the dataset and discover any findings
# extra: how to use EDA - EDA with this dataset.

In [ ]:
# 1.check duplicated columns 
# methode 1
#referrence link: https://www.geeksforgeeks.org/how-to-find-drop-duplicate-columns-in-a-pandas-dataframe/
#                 https://www.marsja.se/how-to-get-the-column-names-from-a-pandas-dataframe-print-and-list/

def getDuplicateColumns(df):
  
    # Create an empty set
    duplicateColumnNames = set()
      
    # Iterate through all the columns 
    # of dataframe
    for x in range(df.shape[1]):
          
        # Take column at xth index.
        col = df.iloc[:, x]
          
        # Iterate through all the columns in
        # DataFrame from (x + 1)th index to
        # last index
        for y in range(x + 1, df.shape[1]):
              
            # Take column at yth index.
            otherCol = df.iloc[:, y]
              
            # Check if two columns at x & y
            # index are equal or not,
            # if equal then adding 
            # to the set
            if col.equals(otherCol):
                duplicateColumnNames.add(df.columns.values[y])
                  
    # Return list of unique column names 
    # whose contents are duplicates.
    
    return list(duplicateColumnNames)

In [ ]:
# Get all column names 
for col_name in df.columns: 
    print(col_name)

In [ ]:
    duplicateColNames = getDuplicateColumns(df)
  
    print('Duplicate Columns are :')
        
    # Iterate through duplicate
    # column names
    for col_name in duplicateColNames:
       print('Column Name : ', col_name)

In [ ]:
df['S.Sodium'].hist(bins=10, figsize=(12,8), color='hotPink', edgecolor='black', linewidth=1.5)
plt.title('Histogram of S.Sodium', size=15,fontweight="bold")
plt.xlabel('S.Sodium', size=15)
plt.ylabel('frequency', size=15)

In [ ]:
df['chol'].hist(bins=15, figsize=(12,8), color='salmon', edgecolor='red', linewidth=1.2)
plt.title('Histogram of Cholesterol', size=15,fontweight="bold")
plt.xlabel('chol', size=15)
plt.ylabel('frequency', size=15)

In [ ]:
df['Age'].hist(bins=30, figsize=(12,8), color='green', edgecolor='red', linewidth=1.2)
plt.title('Histogram of Age', size=15,fontweight="bold")
plt.xlabel('chol', size=15)
plt.ylabel('frequency', size=15)

In [ ]:
df["Age"].median()

In [ ]:
df["Age"].mean()

In [ ]:
corr=df[['chol','Age','Mortality','Diabetes']].corr()

In [ ]:
#reference: https://towardsdatascience.com/exploratory-data-analysis-eda-visualization-using-pandas-ca5a04271607
#attempt: try to define corr between target vars
#Issue: not every vars are continuous variables?


corr.style.background_gradient(cmap='coolwarm').set_precision(2)

In [ ]:
colname=list(df.columns)

In [ ]:
#reference: https://towardsdatascience.com/exploratory-data-analysis-eda-visualization-using-pandas-ca5a04271607
#attempt: try to define corr between target vars
#Issue: not every vars are continuous variables


allcorr=df[colname].corr()
allcorr.style.background_gradient(cmap='coolwarm').set_precision(2)

In [ ]:
from pandas import factorize

labels, categories = factorize(df["Mortality"])
df["labels"] = labels
abs(df["Age"].corr(df["labels"]))

In [ ]:
#attempt: 

import seaborn as sns
sns.scatterplot(data=df, x=df.index, y='Age', hue='Mortality')

In [ ]:
#reference: 
#attempted to caluculate the correlation between continuous variable and categorical variable by dython
#issue: target variable (Mortality has been read as continuous variable)

!pip install dython
from dython import nominal
nominal.associations(df,figsize=(200,100),mark_columns=True);

In [ ]:
#Point Biserial Correlation with Python
#referrence: https://towardsdatascience.com/point-biserial-correlation-with-python-f7cd591bd3b1

#Point Biserial Correlation and how it is computed.

#The point biserial correlation coefficient is the same as the Pearson correlation coefficient 
#used in linear regression (measured from -1 to 1). The only difference is we are comparing 
#dichotomous data to continuous data instead of continuous data to continuous data. 
#From this point on let’s assume that our dichotomous data is composed of items from two groups 
#(group 0 and group 1) and the continuous data as “y”.







import pandas as pd
from scipy.stats import pointbiserialr


# get continuous and dichotomous data
Age = df['Age']
Mortality = df['Mortality']

# pbc of first question
pbc = pointbiserialr(Mortality, Age)
print(pbc)

In [ ]:
df.groupby(['Mortality']).mean()

# 8/26 HW
## find three ways to detect the outliers

## Method 1 - Standard Deviation

In [ ]:
#1.check the distribution of dataset

df_raw = df['chol']
df_raw.hist(bins=10, figsize=(6,4), color='blue', edgecolor='black', linewidth=1.5)
plt.title('Histogram of chol', size=15,fontweight="bold")
plt.xlabel('chol', size=15)
plt.ylabel('frequency', size=15)

In [ ]:
# data shape before removal of outliers
df_m1 = df[["chol"]]
df_m1.shape

In [ ]:
df_m1.describe()

In [ ]:
df_m1.chol.mean()

In [ ]:
df_m1.chol.std()

In [ ]:
upper_limit = df_m1.chol.mean() + 3*df_m1.chol.std()
upper_limit

In [ ]:
lower_limit = df_m1.chol.mean() - 3*df_m1.chol.std()
lower_limit

In [ ]:
#define outlier by method 1
df_m1[(df_m1.chol>upper_limit) | (df_m1.chol<lower_limit)]

In [ ]:
# data without outlier m1
df_m1_no_outlier = df_m1[(df_m1.chol < upper_limit) & (df_m1.chol > lower_limit)]
df_m1_no_outlier

In [ ]:
df_m1_no_outlier.shape

## Method 2 - Boxplot

In [ ]:
df_m2 = df[["chol"]]
df_m2

In [ ]:
#2 boxplot 
# define a function called box-plot
def plot_boxplot (df,ft):
    df.boxplot(column=[ft])
    plt.grid(False)
    plt.show

In [ ]:
plot_boxplot(df_m2, "chol")

In [ ]:
# define a function called "Outliers" which returns a list of index of outliers
#IQR = Q3-Q1
# +/- 1.5*IQR

def outliers(df, ft):
    Q1 = df_m2[ft].quantile(0.25)
    Q3 = df_m2[ft].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    ls = df_m2.index[ (df_m2[ft] <= lower_bound) | (df_m2[ft] > upper_bound) ]
    
    return ls

In [ ]:
# create an empty list to store the output indices from multiple columns -> in case we have more than one column to remove outliers

index_list = []
for feature in ['chol']:
    index_list.extend(outliers(df,feature))

In [ ]:
index_list

In [ ]:
# define a function called "remove" which returns a cleaned dataframe without outliers

def remove(df, ls):
    ls = sorted(set(ls))
    df = df.drop(ls)
    return df

In [ ]:
df_m2_cleaned = remove(df_m2, index_list)

In [ ]:
df_m2_cleaned.shape

In [ ]:
plot_boxplot(df_m2_cleaned, "chol")

In [ ]:
df_m2_cleaned.describe()

In [ ]:
df_cleaned.shape

## Method 3 - Zscore

In [ ]:
df_m3 = df[["chol"]]
df_m3

In [ ]:
#3. adding the column of z-score to the dataset

df_m3['zscore'] = (df_m3.chol - df_m3.chol.mean())/df_m3.chol.std()
df_m3.head(5)

In [ ]:
# identify the outlier

df_m3[df_m3['zscore']>3]

In [ ]:
# identify the outlier2
df_m3[(df_m3.zscore < -3) | (df_m3.zscore > 3)]

In [ ]:
# dataset without outliers


df_m3_no_outliers3 = df_m3[(df_m3.zscore > -3) & (df_m3.zscore < 3)]
df_m3_no_outliers3

In [ ]:
df_m3_no_outliers3.shape

## visualization of before & after outliers

In [ ]:
import numpy as np
import scipy as sp

df['chol'].hist(bins=15, figsize=(8,6), color='cyan', edgecolor='red', linewidth=1.2)
plt.title('Histogram of chol', size=15,fontweight="bold")
plt.xlabel('chol', size=15)
plt.ylabel('frequency', size=15)
# rng = np.arange(df.chol.min(),df.chol.max(), 0.1)
# plt.plot(rng, norm.pdf(rng,df.chol.mean(),df.Age.std()))

In [ ]:
df_cleaned['chol'].hist(bins=15, figsize=(8,6), color='cyan', edgecolor='red', linewidth=1.2)
plt.title('Histogram of chol', size=15,fontweight="bold")
plt.xlabel('chol', size=15)
plt.ylabel('frequency', size=15)
# rng = np.arange(df.chol.min(),df.chol.max(), 0.1)

In [ ]:
# verify the normality of the distribution by qq plot
# qq plot before removing outliers
import numpy as np 
import pylab 
import scipy.stats as stats

  
stats.probplot(df.chol, dist="norm", plot=pylab)
pylab.show()

In [ ]:
# QQ plot after removing outliers

import numpy as np 
import pylab 
import scipy.stats as stats

  
stats.probplot(df_cleaned.chol, dist="norm", plot=pylab)
pylab.show()

#### this column is not normally distributed as the data points are far away from the straight line

In [ ]:
sns.boxplot(x=df.chol)

In [ ]:
sns.boxplot(x=df_cleaned.chol)

In [ ]:
import plotly.express as px

fig = px.histogram(df, x="chol”, marginal="box")
fig.show()

In [ ]:
!pip install plotly

In [ ]:
fig = px.histogram(df, x="chol”, marginal='box')
fig.show()

In [ ]:
pip install pandas-profiling

In [2]:
df = pd.read_csv("The Heart Failure Prediction Dataset.csv")

In [3]:
df.columns

Index(['Age', 'Age.Group', 'Gender', 'Locality  ',
       'Marital status                       ',
       'Life.Style                                                                              ',
       'Sleep', 'Category', 'Depression', 'Hyperlipi', 'Smoking',
       'Family.History', 'F.History', 'Diabetes', 'HTN', 'Allergies', 'BP',
       'Thrombolysis', 'BGR', 'B.Urea', 'S.Cr', 'S.Sodium', 'S.Potassium',
       'S.Chloride', 'C.P.K', 'CK.MB', 'ESR', 'WBC', 'RBC', 'Hemoglobin',
       'P.C.V', 'M.C.V', 'M.C.H', 'M.C.H.C', 'PLATELET_COUNT', 'NEUTROPHIL',
       'LYMPHO', 'MONOCYTE', 'EOSINO', 'Others ', 'CO', 'Diagnosis',
       'Hypersensitivity', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num', 'SK',
       'SK.React', 'Reaction', 'Mortality', 'Follow.Up'],
      dtype='object')

In [4]:
df.columns = df.columns.str.replace(" ","")

In [5]:
df.columns

Index(['Age', 'Age.Group', 'Gender', 'Locality', 'Maritalstatus', 'Life.Style',
       'Sleep', 'Category', 'Depression', 'Hyperlipi', 'Smoking',
       'Family.History', 'F.History', 'Diabetes', 'HTN', 'Allergies', 'BP',
       'Thrombolysis', 'BGR', 'B.Urea', 'S.Cr', 'S.Sodium', 'S.Potassium',
       'S.Chloride', 'C.P.K', 'CK.MB', 'ESR', 'WBC', 'RBC', 'Hemoglobin',
       'P.C.V', 'M.C.V', 'M.C.H', 'M.C.H.C', 'PLATELET_COUNT', 'NEUTROPHIL',
       'LYMPHO', 'MONOCYTE', 'EOSINO', 'Others', 'CO', 'Diagnosis',
       'Hypersensitivity', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num', 'SK',
       'SK.React', 'Reaction', 'Mortality', 'Follow.Up'],
      dtype='object')

In [6]:
df.columns = df.columns.str.replace(".","")

/var/folders/vx/3fzmhxwj1614qwn_5ffwsz7m0000gn/T/ipykernel_59888/769416751.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(".","")

In [7]:
df.columns

Index(['Age', 'AgeGroup', 'Gender', 'Locality', 'Maritalstatus', 'LifeStyle',
       'Sleep', 'Category', 'Depression', 'Hyperlipi', 'Smoking',
       'FamilyHistory', 'FHistory', 'Diabetes', 'HTN', 'Allergies', 'BP',
       'Thrombolysis', 'BGR', 'BUrea', 'SCr', 'SSodium', 'SPotassium',
       'SChloride', 'CPK', 'CKMB', 'ESR', 'WBC', 'RBC', 'Hemoglobin', 'PCV',
       'MCV', 'MCH', 'MCHC', 'PLATELET_COUNT', 'NEUTROPHIL', 'LYMPHO',
       'MONOCYTE', 'EOSINO', 'Others', 'CO', 'Diagnosis', 'Hypersensitivity',
       'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang',
       'oldpeak', 'slope', 'ca', 'thal', 'num', 'SK', 'SKReact', 'Reaction',
       'Mortality', 'FollowUp'],
      dtype='object')

In [8]:
# #EDA using pandas-profiling
# profile = ProfileReport(df, explorative=True)

# #Saving results to a HTML file
# profile.to_file("output.html")

In [9]:
# df = df.drop[columns = "FamilyHistory"]
df = df.drop('FamilyHistory', axis = 1)

In [10]:
df.head()

,Age,AgeGroup,Gender,Locality,Maritalstatus,LifeStyle,Sleep,Category,Depression,Hyperlipi,...,oldpeak,slope,ca,thal,num,SK,SKReact,Reaction,Mortality,FollowUp
0,24,21-30,Female,URBAN,MARRIED,NO,NO,FREE,NO,YES,...,1.6,2,0,7,1.0,1,NO,0,0,1.0
1,24,21-30,Male,URBAN,MARRIED,YES,YES,FREE,YES,YES,...,1.6,2,0,7,1.0,1,COUGH.BLEEDING,1,0,5.0
2,24,21-30,Male,URBAN,MARRIED,YES,YES,FREE,YES,YES,...,1.6,2,0,7,1.0,1,COUGH.BLEEDING,1,0,5.0
3,24,21-30,Male,URBAN,MARRIED,YES,YES,FREE,YES,YES,...,1.6,2,0,7,1.0,1,COUGH.BLEEDING,1,0,5.0
4,24,21-30,Male,URBAN,MARRIED,YES,YES,FREE,YES,YES,...,1.6,2,0,7,1.0,1,COUGH.BLEEDING,1,0,5.0

In [11]:
list_cols = list(df.columns)

In [12]:
two_val_list = []
for i in list_cols:
    if df[i].nunique() ==2:
        two_val_list.append(i)

In [13]:
for i in two_val_list:
    print(f'Column name: {i} \n Values: \n {df[i].value_counts(dropna=False)} \n\n')

Column name: Gender
 Values:
 Male      285
Female     83
Name: Gender, dtype: int64


Column name: Locality
 Values:
 URBAN    223
RURAL    129
NaN       16
Name: Locality, dtype: int64


Column name: Maritalstatus
 Values:
 MARRIED    365
SINGLE       3
Name: Maritalstatus, dtype: int64


Column name: LifeStyle
 Values:
 YES    213
NO     148
NaN      7
Name: LifeStyle, dtype: int64


Column name: Sleep
 Values:
 NO     224
YES    144
Name: Sleep, dtype: int64


Column name: Category
 Values:
 FREE    331
PAID     37
Name: Category, dtype: int64


Column name: Depression
 Values:
 YES    351
NO      17
Name: Depression, dtype: int64


Column name: Hyperlipi
 Values:
 YES    328
NO      26
NaN     14
Name: Hyperlipi, dtype: int64


Column name: Smoking
 Values:
 YES    190
NO     164
NaN     14
Name: Smoking, dtype: int64


Column name: FHistory
 Values:
 0    296
1     72
Name: FHistory, dtype: int64


Column name: Diabetes
 Values:
 0    198
1    170
Name: Diabetes, dtype: int64


Column name: HTN
 Values:
 YES    201
NO     167
Name: HTN, dtype: int64


Column name: Allergies
 Values:
 NO     357
YES     11
Name: Allergies, dtype: int64


Column name: Thrombolysis
 Values:
 0.0    327
NaN     29
1.0     12
Name: Thrombolysis, dtype: int64


Column name: Hypersensitivity
 Values:
 NO     356
YES     12
Name: Hypersensitivity, dtype: int64


Column name: fbs
 Values:
 0    316
1     52
Name: fbs, dtype: int64


Column name: exang
 Values:
 1    207
0    161
Name: exang, dtype: int64


Column name: SK
 Values:
 1    362
0      6
Name: SK, dtype: int64


Column name: Reaction
 Values:
 1    275
0     93
Name: Reaction, dtype: int64


Column name: Mortality
 Values:
 0    288
1     80
Name: Mortality, dtype: int64

In [22]:
df['Gender'] = df['Gender'].map({'Female':1, 'Male':0})

In [23]:
df['Gender']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
363   NaN
364   NaN
365   NaN
366   NaN
367   NaN
Name: Gender, Length: 368, dtype: float64

In [16]:
two_val_list

['Gender',
 'Locality',
 'Maritalstatus',
 'LifeStyle',
 'Sleep',
 'Category',
 'Depression',
 'Hyperlipi',
 'Smoking',
 'FHistory',
 'Diabetes',
 'HTN',
 'Allergies',
 'Thrombolysis',
 'Hypersensitivity',
 'fbs',
 'exang',
 'SK',
 'Reaction',
 'Mortality']

In [17]:
['-',
 'Locality',
 'Maritalstatus',
 'LifeStyle',
 'Sleep',
 'Category',
 'Depression',
 'Hyperlipi',
 'Smoking',
 'FHistory',
 'Diabetes',
 'HTN',
 'Allergies',
 'Thrombolysis',
 'Hypersensitivity',
 'fbs',
 'exang',
 'SK',
 'Reaction',

SyntaxError: unexpected EOF while parsing (2709600295.py, line 19)

In [ ]:
# df['Locality'] = df['Locality'].map({'URBAN':1, 'RURAL':0})

In [ ]:
#when we have Nan value wer cannot transder to 1 adn 0

In [18]:
#count the missing value
print(df.isna().sum())

Age                   0
AgeGroup              0
Gender                0
Locality             16
Maritalstatus         0
LifeStyle             7
Sleep                 0
Category              0
Depression            0
Hyperlipi            14
Smoking              14
FHistory              0
Diabetes              0
HTN                   0
Allergies             0
BP                   64
Thrombolysis         29
BGR                   0
BUrea                 0
SCr                   0
SSodium               0
SPotassium            0
SChloride             0
CPK                  10
CKMB                 10
ESR                  10
WBC                  32
RBC                  19
Hemoglobin           19
PCV                   9
MCV                   0
MCH                   0
MCHC                  0
PLATELET_COUNT        3
NEUTROPHIL            0
LYMPHO                0
MONOCYTE              0
EOSINO                1
Others                1
CO                    0
Diagnosis           192
Hypersensitivity      0
cp                    0
trestbps             27
chol                  0
fbs                   0
restecg               0
thalach               0
exang                 0
oldpeak               0
slope                 0
ca                    0
thal                  0
num                  26
SK                    0
SKReact               0
Reaction              0
Mortality             0
FollowUp             15
dtype: int64

In [26]:
null_list = df.columns[df.isna().any()].tolist()

In [27]:
null_list

['Gender',
 'Locality',
 'LifeStyle',
 'Hyperlipi',
 'Smoking',
 'BP',
 'Thrombolysis',
 'CPK',
 'CKMB',
 'ESR',
 'WBC',
 'RBC',
 'Hemoglobin',
 'PCV',
 'PLATELET_COUNT',
 'EOSINO',
 'Others',
 'Diagnosis',
 'trestbps',
 'num',
 'FollowUp']

In [30]:
null_cat_list = []

for i in null_list:
    if df[i].dtypes == 'object':
        null_cat_list.append(i)

In [31]:
null_cat_list

['Locality', 'LifeStyle', 'Hyperlipi', 'Smoking', 'Others', 'Diagnosis']

In [32]:
from sklearn.impute import SimpleImputer

In [36]:
def categorical_imputer (data_table, col):

    #Impute null values in categorical variable with the most frequently observed value
    
    #input parameter:
    #data_table: dataframe
    #col: object column with null value
    
    
    imputer = SimpleImputer(strategy = 'most_frequent', missing_values=np.nan)
    data_table[col] = imputer.fit_transform(df[[col]])

In [40]:
for i in null_cat_list:
    df[i] = categorical_imputer(df, i)

In [43]:
df.head()

,Age,AgeGroup,Gender,Locality,Maritalstatus,LifeStyle,Sleep,Category,Depression,Hyperlipi,...,oldpeak,slope,ca,thal,num,SK,SKReact,Reaction,Mortality,FollowUp
0,24,21-30,NaN,None,MARRIED,None,NO,FREE,NO,None,...,1.6,2,0,7,1.0,1,NO,0,0,1.0
1,24,21-30,NaN,None,MARRIED,None,YES,FREE,YES,None,...,1.6,2,0,7,1.0,1,COUGH.BLEEDING,1,0,5.0
2,24,21-30,NaN,None,MARRIED,None,YES,FREE,YES,None,...,1.6,2,0,7,1.0,1,COUGH.BLEEDING,1,0,5.0
3,24,21-30,NaN,None,MARRIED,None,YES,FREE,YES,None,...,1.6,2,0,7,1.0,1,COUGH.BLEEDING,1,0,5.0
4,24,21-30,NaN,None,MARRIED,None,YES,FREE,YES,None,...,1.6,2,0,7,1.0,1,COUGH.BLEEDING,1,0,5.0

In [38]:
df['BP']

0      110.7
1        NaN
2      130.8
3      130.8
4      130.8
       ...
363    100.7
364    130.8
365    120.8
366    100.6
367    110.7
Name: BP, Length: 368, dtype: float64

In [39]:
df[['BP']]

        BP
0    110.7
1      NaN
2    130.8
3    130.8
4    130.8
..     ...
363  100.7
364  130.8
365  120.8
366  100.6
367  110.7

[368 rows x 1 columns]

#nuerical mean? median? HW
1. create list of 
    a. missing value, normal distribution(with histogram), numerical columns
    b. missing value, not normal distribution, numerical columns
2. create imputer function 
    a.normal - stratdgy = 'mean'
    b.not normal - strategy = 'median'
3. check null values

4. yes no vaue -> 1 or 0 transform